<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") %>

    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
        </style>

        <%- include ("components/header.ejs") %>

            <div id="content">
                <div id="self-description">
                    I am a junior Computer Science major at Carleton College. My interest is in full stack development
                    and quantitative trading. I am also an experienced competitive programmer with a rich background in
                    mathematical
                    olympiads.
                </div>
                <div class="overview">
                    <div class="content-title">
                        Glance of Me
                    </div>
                    <div class="overview-text">
                        <ul>
                            <li><a href="https://www.carleton.edu/news/stories/carleton-students-attend-international-collegiate-programming-contest/"
                                    target="_blank">
                                    ICPC North America Championship Finalist</a></li>
                            <li><a href="https://www.myangat.com/">Administrator of Myangat - a database-oriented web
                                    project</a></li>
                            <li><a href="https://www.imo-official.org/participant_r.aspx?id=27745" target="_blank">x2
                                    International Mathematical Olympiad Medalist</a></li>
                            <li>x2 National Mathematical Olympiad Champion</li>
                        </ul>
                    </div>
                </div>
                <div class="competitions">
                    <div class="content-title">
                        <a href="batmend/competitions">Competitions <div class="more">(more)</div></a>
                    </div>
                    <ul>
                        <li>International Collegiate Programming Contest</li>
                        <li>International Mathematical Olympiad</li>
                        <li>International Olympiad in Informatics</li>
                        <li>National Mathematical Olympiad</li>
                        <li>National Olympiad in Informatics</li>
                        <li>National Physics Olympiad</li>
                    </ul>
                </div>
                <div class="projects">
                    <div class="content-title">
                        <a href="batmend/projects">Projects <div class="more">(more)</div></a>
                    </div>
                    <ul>
                        <li>
                            <a href="https://www.myangat.com/" target="_blank">
                                Myangat (Mongolian science competition database)
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/batmendbar/scheme-interpreter" target="_blank">
                                Scheme Interpreter
                            </a>
                        </li>
                        <li>Megashare (Resource sharing application for android phones)</li>
                        <li>Encrypted file sharing application</li>
                        <li>Where2School (Database-centered website for Minnesota highschool covid history)</li>
                        <li>Beach Scene (Rendered with OpenGL)</li>
                        <li>Skydrift (Mini drifting game)</li>
                        <li>Rocket Launcher (Mini shooting game)</li>
                        <li>Event Aggregator (Data processing tool built with pandas library)</li>
                        <li>Currency Exchange Automator</li>
                    </ul>
                </div>

                <div>
                    <div class="content-title">
                        <a href="batmend/education">Education <div class="more">(more)</div></a>
                    </div>
                    <div class="education">
                        <div class="education-title">
                            BA at Carleton College, 3.8/4.0 GPA
                        </div>
                        <div class="education-subtitle">
                            Computer Science Major, Mathematics Minor
                        </div>
                        <div>
                            <div class="education-text">
                                Relevant Courses:
                            </div>
                            <ul>
                                <li>Theory of Computing</li>
                                <li>Applied Cryptography</li>
                                <li>Computer Graphics</li>
                                <li>Mobile Software Development</li>
                                <li>Software Design</li>
                                <li>Programming Languages</li>
                                <li>Algorithms</li>
                                <li>Introduction to Computer Systems</li>
                                <li>Human Computer Interaction,</li>
                                <li>Data Structures,</li>
                                <li>Math of Computer Science,</li>
                                <li>Quantum Computing,</li>
                                <li>Statistics Inference</li>
                                <li>Probability</li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <%- include ("components/sidebar.ejs") %>
    </body>

</html>