body {
	display: grid;
	height: 100vh;
	grid-template-columns: [display-start] 1fr [content-start] 5fr [divider] 2fr [content-end] 0.5fr [display-end];
	grid-template-rows: [display-start] 0.9fr [content-start] 6fr [display-end];
	font-family: "Spectral", serif;
}

#title-name {
	padding-top: 0.3em;
	grid-column: content-start / content-end;
	grid-row: display-start / content-start;
	font-size: 4em;
	font-weight: bold;
}

#content {
	grid-column: content-start / divider;
	grid-row: content-start / display-end;
	border-right: dotted black 2px;
	padding-right: 1.5em;
	font-size: 1em;
}

#self-description {
	margin-bottom: 1.5em;
}

#sidebar {
	padding-left: 1.5em;
	grid-column: divider / content-end;
	grid-row: content-start / display-end;
}

#headshot {
	height: 40vh;
	border: 0.5px solid black;
	box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.75);
}

.contact-type {
	display: inline;
}
.contact-text {
	display: inline;
}
.contacts {
	margin-top: 1em;
}
.sidebar-title {
	font-size: 1.5em;
}
.content-title {
	font-weight: bold;
	font-size: 2em;
	color: brown;
}
.content-title2 {
	font-size: 1.5em;
	color: brown;
}
.indented-content {
	padding-left: 2em;
}
a {
	text-decoration: none;
	font-style: normal;
	color: brown;
}

a:hover {
	text-decoration: underline;
}

.menu {
	margin-top: 1em;
}
.menu > a {
	display: block;
}

ul {
	margin-top: 0;
}
