<div id="photo_gallery">
    <div class="content-title">A story to tell (clickable images)</div>
    <div id="photos" class="indented-content">
        <div class="framed-image-outer hover-image">
            <img id="medals" class="framed-image-inner horizontal-image" src="/gallery/preschool.jpg" alt="IMO"></img>
            <div class="overlay">
                <div class="content-title2">
                    Born in Fire
                </div>
                Both my brothers were nationally ranked mathletes when I was in preschool. I started training for math
                competitions when I was six. I wanted to win and win more than them.
            </div>
        </div>
        <div class="framed-image-outer hover-image">
            <img id="young" class="framed-image-inner horizontal-image" src="/gallery/second_grade.png"
                alt="medals"></img>
            <div class="overlay">
                <div class="content-title2">
                    Building a Foundation
                </div>
                I studied hard and won my first olympiad - a district championship - when I was seven.
            </div>
        </div>

        <div class="framed-image-outer hover-image">
            <img id="medals" class="framed-image-inner horizontal-image" src="/gallery/nationals.jpg" alt="IOI"></img>
            <div class="overlay">
                <div class="content-title2">
                    National Champion
                </div>
                Since middle school, I dominated Mongolian National Science Olympiad scene, winning 1st place in math,
                2nd place in physics, and 2nd place Informatics. International stage was waiting for me.
            </div>
        </div>
        <div class="framed-image-outer hover-image">
            <img id="medals" class="framed-image-inner horizontal-image" src="/gallery/imo_team.jpg" alt="IMO"></img>
            <div class="overlay">
                <div class="content-title2">
                    International Mathematical Olympiad
                </div>
                I represented Mongolia three times in IMO, winning two medals for my country. This journey honed my
                discipline and drive to be great.
            </div>
        </div>

        <div class="framed-image-outer hover-image">
            <img id="medals" class="framed-image-inner horizontal-image" src="/gallery/ioi.jpg" alt="IOI"></img>
            <div class="overlay">
                <div class="content-title2">
                    Growing out of Math
                </div>
                I picked up competitive programming in 8th grade. After a year, I realized that computer science was
                were my skills and interest intersected, and decided to pursue it as a career. I worked hard on it,
                winning a place in Mongolian IOI team.
            </div>
        </div>

        <div class="framed-image-outer hover-image">
            <img id="medals" class="framed-image-inner horizontal-image" src="/gallery/medals.jpeg" alt="medals"></img>
            <div class="overlay">
                <div class="content-title2">
                    Enduring Performance
                </div>
                I put out top performance for 11 years in highschool and won +150 competitions in three science
                fields while winning a medal from IMO. It was one of the most consistent and successful runs in
                Mongolian Science Competition history.
            </div>
        </div>

        <div class="framed-image-outer hover-image">
            <img id="medals" class="framed-image-inner horizontal-image" src="/gallery/icpc.jpeg" alt="icpc"></img>
            <div class="overlay">
                <div class="content-title2">
                    Collegiate Competitions
                </div>
                I use competitive programming as an exciting way to hone my programming skills. I have been a core
                member
                for my college's ICPC team for three years, advancing to North American Championship in 2022.
            </div>
        </div>
    </div>
</div>