<div>
    <div id="portrait" class="sidebar-element framed-image-outer">
        <img id="portrait-photo" class="framed-image-inner" src="/headshot.png" alt="headshot"></img>
    </div>
</div>

<div id="menu" class="sidebar-element">
    <a href="/admins/batmend/competitions">Competitions</a>
    <a href="/admins/batmend/projects">Projects</a>
    <a href="/admins/batmend/education">Education</a>
</div>

<div id="contacts" class="sidebar-element">
    <div class="sidebar-title">
        Contact
    </div>
    <div class="contact">
        Email:
        <a href="mailto: batsaikhanb@carleton.edu">
            batsaikhanb@carleton.edu
        </a>
    </div>
    <div class="contact">
        Github:
        <a href="https://github.com/batmendbar" target="_blank">
            batmendbar
        </a>
    </div>
    <div class="contact">
        LinkedIn:
        <a href="https://www.linkedin.com/in/batmendbar" target="_blank">
            batmendbar
        </a>
    </div>
</div>
</div>