<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") %>

    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
        </style>

        <%- include ("components/header.ejs") %>


            <div id="content">
                <div class="competitions">
                    <div class="content-title">
                        Competitions
                    </div>
                    <div class="indented-content">
                        <div>
                            <div class="content-title2">
                                International Competitions
                            </div>
                            <ul>
                                <li>International Collegiate Programming Contest
                                    <div>
                                        Placed 5th in ICPC North Central NA Regional Contest, advancing to North
                                        American
                                        Championship finals.
                                    </div>
                                </li>
                                <li>International Mathematical Olympiad
                                    <div>
                                        2 bronze medals.
                                    </div>
                                </li>
                                <li>International Olympiad in Informatics
                                    <div>
                                        Participated in IOI.
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="content-title2">
                                National Competitions
                            </div>
                            <ul>
                                <li>National Mathematical Olympiad
                                    <div>
                                        2 gold, 2 silver, 2 bronze medals.
                                    </div>
                                </li>
                                <li>National Olympiad in Informatics
                                    <div>
                                        2nd place.
                                    </div>
                                </li>
                                <li>National Physics Olympiad
                                    <div>
                                        2nd place.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <%- include ("components/sidebar.ejs") %>
                <%- include ("components/photo_gallery.ejs") %>
    </body>

</html>