<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") %>


    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
        </style>

        <%- include ("components/header.ejs") %>

            <div id="content">
                <div>
                    <div class="content-title">
                        Education
                    </div>
                    <div class="education">
                        <div class="education-title">
                            BA at Carleton College, 3.8/4.0 GPA
                        </div>
                        <div class="education-subtitle">
                            Computer Science Major, Mathematics Minor
                        </div>
                        <div>
                            <div class="education-text">
                                Relevant Courses:
                            </div>
                            <ul>
                                <li>Theory of Computing</li>
                                <li>Applied Cryptography</li>
                                <li>Computer Graphics</li>
                                <li>Mobile Software Development</li>
                                <li>Software Design</li>
                                <li>Programming Languages</li>
                                <li>Algorithms</li>
                                <li>Introduction to Computer Systems</li>
                                <li>Human Computer Interaction,</li>
                                <li>Data Structures,</li>
                                <li>Math of Computer Science,</li>
                                <li>Quantum Computing,</li>
                                <li>Statistics Inference</li>
                                <li>Probability</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ("components/sidebar.ejs") %>
    </body>

</html>