<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") %>

    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
        </style>

        <%- include ("components/header.ejs") %>

            <div id="content">
                <div class="projects">
                    <div class="content-title">
                        Projects
                    </div>
                    <ul>
                        <li>
                            <div>
                                <a href="https://www.myangat.com/" target="_blank">
                                    Myangat (Mongolian science competition database)
                                </a>
                                <div>
                                    MongoDB, Express
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="https://github.com/batmendbar/scheme-interpreter" target="_blank">
                                    Scheme Interpreter
                                </a>
                                <div>
                                    C
                                </div>
                            </div>

                        </li>
                        <li>
                            <div>
                                <a href="https://github.com/batmendbar/ait_mobile" target="_blank">
                                    Megashare (android application for resource sharing)</a>
                                <div>
                                    Kotlin, Android Studio, XML
                                </div>
                            </div>
                        </li>

                        <li>
                            <div>
                                <a href="" target="_blank">
                                    Encrypted file sharing application</a>
                                <div>
                                    python3, pycryptodome
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="https://github.com/batmendbar/When2School" target="_blank">
                                    When2School (highschool covid tracking website)</a>
                                <div>
                                    Flask, PostgreSQL, HTML5, CSS
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="https://github.com/batmendbar/ait_graphics_projects/tree/main/hw3.0_beach"
                                    target="_blank">
                                    Beach Scene</a>
                                <div>
                                    OpenGL, Kotlin, ray-tracing
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="https://github.com/batmendbar/ait_graphics_projects/tree/main/hw3.0_skydrift"
                                target="_blank">
                                Skydrift (Mini drifting game)</a>
                            <div>
                                OpenGL, Kotlin
                            </div>
                        </li>
                        <li>
                            <a href="https://github.com/batmendbar/ait_graphics_projects/tree/main/hw1.3_minigame"
                                target="_blank">
                                Rocket Launcher (Mini shooting game)</a>
                            <div>
                                OpenGL, Kotlin
                            </div>
                        </li>
                        <li>
                            <a href="https://github.com/batmendbar/event_data_aggregator" target="_blank">
                                Event Aggregator (Data processing tool)</a>
                            <div>
                                python3, pandas
                            </div>
                        </li>
                        <li><a href="" target="_blank">
                                Currency Exchange Automator</a>
                            <div>
                                python3, Selenium
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <%- include ("components/sidebar.ejs") %>
    </body>

</html>